In [1]:
import numpy as np
import pandas as pd

## pd.data_range() 함수 알아보기
- 연속적인 날짜 데이타에 사용
- pd.data_range(초기날짜,periods=count)

In [2]:
# 연속된 숫자를 출력
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
# 연속된 날짜 데이타 생성
date_list = pd.date_range('20190226',periods=5)
date_list

DatetimeIndex(['2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01',
               '2019-03-02'],
              dtype='datetime64[ns]', freq='D')

In [6]:
type(date_list)

pandas.core.indexes.datetimes.DatetimeIndex

In [7]:
df1 = pd.DataFrame(np.random.randn(6,4))
df1

          0         1         2         3
0  0.136510  0.531408  0.191509 -0.239237
1  0.268552 -1.625319  1.657153  0.025545
2 -0.418964  0.930530 -0.894142  0.279551
3  0.644911 -0.909520  0.734916 -1.264387
4  1.605213  0.038262 -1.326913 -0.180171
5 -1.549690 -0.765274  0.681598 -2.025956

## 행별 열별로 정렬하기
- 데이타프레임.sort_index(axis=0)
- 데이타프레임.sort_index(axis=1)
- 데이타프레임.sort_index(axis=0/1, ascending=Fales)
- 원본 데이타프레임 데이타값은 변경이 없다

In [8]:
df1 = pd.DataFrame(np.random.randn(6,4))
df1

          0         1         2         3
0  0.014579 -0.090628 -0.130999 -0.294366
1 -0.299498  0.369828  0.367780  2.111816
2  0.137368  1.588412 -1.184837 -0.968662
3  0.119871  0.122316 -0.318496  1.513069
4 -0.177293  0.264052 -0.628675  0.311503
5  0.606984 -0.070409 -0.812740 -1.350296

In [10]:
df1.columns = ['B','A','D','C']
df1.index = pd.date_range('20190122',periods=6)
df1

                   B         A         D         C
2019-01-22  0.014579 -0.090628 -0.130999 -0.294366
2019-01-23 -0.299498  0.369828  0.367780  2.111816
2019-01-24  0.137368  1.588412 -1.184837 -0.968662
2019-01-25  0.119871  0.122316 -0.318496  1.513069
2019-01-26 -0.177293  0.264052 -0.628675  0.311503
2019-01-27  0.606984 -0.070409 -0.812740 -1.350296

In [11]:
# 행위치 조정하기
df1.index

DatetimeIndex(['2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25',
               '2019-01-26', '2019-01-27'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df1.index=['2019-01-27','2019-01-25','2019-01-23','2019-01-22','2019-01-24','2019-01-26']
df1

                   B         A         D         C
2019-01-27  0.014579 -0.090628 -0.130999 -0.294366
2019-01-25 -0.299498  0.369828  0.367780  2.111816
2019-01-23  0.137368  1.588412 -1.184837 -0.968662
2019-01-22  0.119871  0.122316 -0.318496  1.513069
2019-01-24 -0.177293  0.264052 -0.628675  0.311503
2019-01-26  0.606984 -0.070409 -0.812740 -1.350296

In [14]:
# 정렬 - 행의 인덱스 기준, 오름차순
df1.sort_index(axis=0)

                   B         A         D         C
2019-01-22  0.119871  0.122316 -0.318496  1.513069
2019-01-23  0.137368  1.588412 -1.184837 -0.968662
2019-01-24 -0.177293  0.264052 -0.628675  0.311503
2019-01-25 -0.299498  0.369828  0.367780  2.111816
2019-01-26  0.606984 -0.070409 -0.812740 -1.350296
2019-01-27  0.014579 -0.090628 -0.130999 -0.294366

In [15]:
# 정렬 - 행의 인덱스 기준, 내림차순
df1.sort_index(axis=0, ascending=False)

                   B         A         D         C
2019-01-27  0.014579 -0.090628 -0.130999 -0.294366
2019-01-26  0.606984 -0.070409 -0.812740 -1.350296
2019-01-25 -0.299498  0.369828  0.367780  2.111816
2019-01-24 -0.177293  0.264052 -0.628675  0.311503
2019-01-23  0.137368  1.588412 -1.184837 -0.968662
2019-01-22  0.119871  0.122316 -0.318496  1.513069

In [16]:
# 정렬 - 열의 인덱스 기준, 내림차순
df1.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-01-27 -0.130999 -0.294366  0.014579 -0.090628
2019-01-25  0.367780  2.111816 -0.299498  0.369828
2019-01-23 -1.184837 -0.968662  0.137368  1.588412
2019-01-22 -0.318496  1.513069  0.119871  0.122316
2019-01-24 -0.628675  0.311503 -0.177293  0.264052
2019-01-26 -0.812740 -1.350296  0.606984 -0.070409

In [17]:
# 정렬 - 열의 인덱스 기준, 오름차순
df1.sort_index(axis=1)

                   A         B         C         D
2019-01-27 -0.090628  0.014579 -0.294366 -0.130999
2019-01-25  0.369828 -0.299498  2.111816  0.367780
2019-01-23  1.588412  0.137368 -0.968662 -1.184837
2019-01-22  0.122316  0.119871  1.513069 -0.318496
2019-01-24  0.264052 -0.177293  0.311503 -0.628675
2019-01-26 -0.070409  0.606984 -1.350296 -0.812740

## 값 기준으로 정렬하기
- 데이타프레임이름.sort_values(by="컬럼명")

In [18]:
df1

                   B         A         D         C
2019-01-27  0.014579 -0.090628 -0.130999 -0.294366
2019-01-25 -0.299498  0.369828  0.367780  2.111816
2019-01-23  0.137368  1.588412 -1.184837 -0.968662
2019-01-22  0.119871  0.122316 -0.318496  1.513069
2019-01-24 -0.177293  0.264052 -0.628675  0.311503
2019-01-26  0.606984 -0.070409 -0.812740 -1.350296

In [20]:
result = df1.sort_values(by='B')
result

                   B         A         D         C
2019-01-25 -0.299498  0.369828  0.367780  2.111816
2019-01-24 -0.177293  0.264052 -0.628675  0.311503
2019-01-27  0.014579 -0.090628 -0.130999 -0.294366
2019-01-22  0.119871  0.122316 -0.318496  1.513069
2019-01-23  0.137368  1.588412 -1.184837 -0.968662
2019-01-26  0.606984 -0.070409 -0.812740 -1.350296

In [21]:
# Series 로 추출
result.B

2019-01-25   -0.299498
2019-01-24   -0.177293
2019-01-27    0.014579
2019-01-22    0.119871
2019-01-23    0.137368
2019-01-26    0.606984
Name: B, dtype: float64

## 중복 제거하기
- 데이타이름[열이름].unique()
- ===> 카테고리를 만들 때 주로 사용한다. '카테고리화'할 데이터
- ===> 그룹핑할때

In [22]:
df1

                   B         A         D         C
2019-01-27  0.014579 -0.090628 -0.130999 -0.294366
2019-01-25 -0.299498  0.369828  0.367780  2.111816
2019-01-23  0.137368  1.588412 -1.184837 -0.968662
2019-01-22  0.119871  0.122316 -0.318496  1.513069
2019-01-24 -0.177293  0.264052 -0.628675  0.311503
2019-01-26  0.606984 -0.070409 -0.812740 -1.350296

In [23]:
# 컬럼 추가
# 2개의 새로운 컬럼 추가
df1["E"] = [1,4,5,5,3,4]
df1["F"] = ["alpha","beta","gamma","gamma","alpha","gamma"]
df1

                   B         A         D         C  E      F
2019-01-27  0.014579 -0.090628 -0.130999 -0.294366  1  alpha
2019-01-25 -0.299498  0.369828  0.367780  2.111816  4   beta
2019-01-23  0.137368  1.588412 -1.184837 -0.968662  5  gamma
2019-01-22  0.119871  0.122316 -0.318496  1.513069  5  gamma
2019-01-24 -0.177293  0.264052 -0.628675  0.311503  3  alpha
2019-01-26  0.606984 -0.070409 -0.812740 -1.350296  4  gamma

In [24]:
df1['E'].unique()

array([1, 4, 5, 3], dtype=int64)

In [25]:
df1['F'].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

## 특정값의 카운트
- 데이터프레임이름[열이름].value_counts()

In [26]:
df2 = pd.DataFrame(np.random.randn(6,4),
                  columns = ['A','B','C','D'],
                  index = pd.date_range('20190122',periods=6))
df2["E"] = ["alpha","beta","gamma","gamma","alpha","gamma"]
df2

                   A         B         C         D      E
2019-01-22 -0.381007  1.515318 -0.609650 -1.513261  alpha
2019-01-23 -0.256419  1.018062 -0.761567 -0.695517   beta
2019-01-24 -1.018401  2.058475  0.665390 -0.415140  gamma
2019-01-25 -1.364938  2.325372 -0.276195 -0.724386  gamma
2019-01-26  0.887645 -2.429038 -0.399489 -0.077523  alpha
2019-01-27  0.924454  0.565099  3.211619  0.985656  gamma

In [27]:
df2["E"].value_counts()

gamma    3
alpha    2
beta     1
Name: E, dtype: int64

In [28]:
df2["A"].value_counts()

-1.018401    1
 0.924454    1
-0.256419    1
 0.887645    1
-1.364938    1
-0.381007    1
Name: A, dtype: int64

isin 함수 이용하기
- 데이타프레임이름.isin([데이타값1,데이타값2])
- 데이타프레임이름[컬럼명].isin([데이터값1, 데이터값2])
- 데이타값이 있는지 확인 True, False

In [29]:
df2

                   A         B         C         D      E
2019-01-22 -0.381007  1.515318 -0.609650 -1.513261  alpha
2019-01-23 -0.256419  1.018062 -0.761567 -0.695517   beta
2019-01-24 -1.018401  2.058475  0.665390 -0.415140  gamma
2019-01-25 -1.364938  2.325372 -0.276195 -0.724386  gamma
2019-01-26  0.887645 -2.429038 -0.399489 -0.077523  alpha
2019-01-27  0.924454  0.565099  3.211619  0.985656  gamma

In [30]:
# 'alpha' 값이 있는 데이타 부분은 True로 출력  
# ---> 전체로 물어봐서 하나하나 연산함. 오래걸림. 바람직하지 않음.
df2.isin(['alpah'])

                A      B      C      D      E
2019-01-22  False  False  False  False  False
2019-01-23  False  False  False  False  False
2019-01-24  False  False  False  False  False
2019-01-25  False  False  False  False  False
2019-01-26  False  False  False  False  False
2019-01-27  False  False  False  False  False

In [31]:
# 'alpha' 값이 있는 데이타 부분은 True로 출력  -> Series
df2['E'].isin(['alpha'])

2019-01-22     True
2019-01-23    False
2019-01-24    False
2019-01-25    False
2019-01-26     True
2019-01-27    False
Freq: D, Name: E, dtype: bool

In [32]:
# 'alpha', 'gamma'값이 있는 데이타 부분은 True로 출력
df2['E'].isin(['alpha','gamma'])

2019-01-22     True
2019-01-23    False
2019-01-24     True
2019-01-25     True
2019-01-26     True
2019-01-27     True
Freq: D, Name: E, dtype: bool

In [33]:
# 'alpha' 값이 있는 행 추출
df2[df2['E'].isin(['alpha'])]

                   A         B         C         D      E
2019-01-22 -0.381007  1.515318 -0.609650 -1.513261  alpha
2019-01-26  0.887645 -2.429038 -0.399489 -0.077523  alpha