In [1]:
import numpy as np
import pandas as pd

## 현재 작업폴더 확인하기

In [2]:
import os
os.getcwd()

'C:\\python\\DataScience\\source-code'

## tsv 데이타 파일 읽어오기
-

In [3]:
df = pd.read_csv('../data/gapminder.tsv',sep='\t')

In [4]:
df.shape

(1704, 6)

In [5]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

## 앞뒤 특정행 추출하기

In [6]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

## 특정컬럼의 일부 행만 추출하기

In [11]:
df[['country','lifeExp']].head()

       country  lifeExp
0  Afghanistan   28.801
1  Afghanistan   30.332
2  Afghanistan   31.997
3  Afghanistan   34.020
4  Afghanistan   36.088

## 데이터프레임의 마지막 행만 추출하기

In [15]:
df.tail(1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [16]:
# 시리즈로 추출
df.loc[len(df)-1 :]

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

## 'country'의 데이타값의 분포

In [17]:
df['country'].value_counts()

Bahrain                     12
Malawi                      12
South Africa                12
Kuwait                      12
Madagascar                  12
Ghana                       12
Malaysia                    12
Mauritania                  12
Myanmar                     12
Colombia                    12
Thailand                    12
Trinidad and Tobago         12
Sudan                       12
Albania                     12
Gambia                      12
Burundi                     12
Kenya                       12
Tanzania                    12
France                      12
Iceland                     12
Congo, Dem. Rep.            12
Sierra Leone                12
Togo                        12
Germany                     12
Cuba                        12
Mozambique                  12
Algeria                     12
Djibouti                    12
Turkey                      12
Congo, Rep.                 12
                            ..
Libya                       12
Venezuela                   12
Saudi Arabia                12
Gabon                       12
Portugal                    12
Namibia                     12
Sri Lanka                   12
Jordan                      12
Uganda                      12
Swaziland                   12
Chile                       12
Bosnia and Herzegovina      12
Niger                       12
Serbia                      12
Korea, Rep.                 12
Canada                      12
Equatorial Guinea           12
Israel                      12
Poland                      12
Benin                       12
Iraq                        12
Sweden                      12
Central African Republic    12
Rwanda                      12
Burkina Faso                12
Haiti                       12
Uruguay                     12
Hungary                     12
Sao Tome and Principe       12
Hong Kong, China            12
Name: country, Length: 142, dtype: int64

In [19]:
result = df['country'].unique()
result

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
# 나라갯수는?
len(result)

142

## 퀴즈
- 'Korea' 데이터만 추출하기
- 'Korea' 의 평균 최대나이와 평균 최소나이를 추출
- 평균나이('lifeExp')가 가장 많은 나라의 행을 추출
- 평균나이('lifeExp')가 가장 적은 나라의 행을 추출

In [29]:
korea_data = df[df['country'] == 'Korea, Rep.']
korea_data.head()

         country continent  year  lifeExp       pop    gdpPercap
840  Korea, Rep.      Asia  1952   47.453  20947571  1030.592226
841  Korea, Rep.      Asia  1957   52.681  22611552  1487.593537
842  Korea, Rep.      Asia  1962   55.292  26420307  1536.344387
843  Korea, Rep.      Asia  1967   57.716  30131000  2029.228142
844  Korea, Rep.      Asia  1972   62.612  33505000  3030.876650

In [33]:
print('최소수명 : ', round(korea_data['lifeExp'].min(),1),'세')
print('최대수명 : ', round(korea_data['lifeExp'].max(),1),'세')

최소수명 :  47.5 세
최대수명 :  78.6 세

In [34]:
df[df['lifeExp'] == df['lifeExp'].max()]

    country continent  year  lifeExp        pop    gdpPercap
803   Japan      Asia  2007   82.603  127467972  31656.06806

In [36]:
df[df['lifeExp'] == df['lifeExp'].min()]

     country continent  year  lifeExp      pop   gdpPercap
1292  Rwanda    Africa  1992   23.599  7290203  737.068595