In [1]:
import numpy as np
import pandas as pd

In [2]:
practice = pd.DataFrame({
    '날짜':[],
    '운동':[],
    '시간':[]
})
practice

Empty DataFrame
Columns: [날짜, 운동, 시간]
Index: []

In [3]:
practice.loc[0] = ['19-07-03', '달리기',1.]
practice

         날짜   운동   시간
0  19-07-03  달리기  1.0

In [4]:
practice.loc[1] = ['19-07-04', '걷기',1.]
practice.loc[2] = ['19-07-04', '달리기',1.]
practice.loc[3] = ['19-07-04', '계단오르기',1.]
practice.loc[4] = ['19-07-05', '걷기',1.5]
practice.loc[5] = ['19-07-05', '달리기',1.]
practice

         날짜     운동   시간
0  19-07-03    달리기  1.0
1  19-07-04     걷기  1.0
2  19-07-04    달리기  1.0
3  19-07-04  계단오르기  1.0
4  19-07-05     걷기  1.5
5  19-07-05    달리기  1.0

In [6]:
practice.to_csv("../data/practice.csv", encoding="utf-8")

In [11]:
practice = pd.read_csv("../data/practice.csv", encoding="utf-8")
practice
# 읽어올때 인덱스도 같이 불러져옴

   Unnamed: 0        날짜     운동   시간
0           0  19-07-03    달리기  1.0
1           1  19-07-04     걷기  1.0
2           2  19-07-04    달리기  1.0
3           3  19-07-04  계단오르기  1.0
4           4  19-07-05     걷기  1.5
5           5  19-07-05    달리기  1.0

In [15]:
practice = pd.read_csv("../data/practice.csv", index_col=0,encoding="utf-8")
practice

         날짜     운동   시간
0  19-07-03    달리기  1.0
1  19-07-04     걷기  1.0
2  19-07-04    달리기  1.0
3  19-07-04  계단오르기  1.0
4  19-07-05     걷기  1.5
5  19-07-05    달리기  1.0

In [16]:
practice.loc[6] = ['19-07-06', '걷기',1.]
practice.loc[7] = ['19-07-07', '달리기',1.]
practice.loc[8] = ['19-07-07', '계단오르기',1.]
practice.loc[9] = ['19-07-08', '걷기',2.5]
practice.loc[10] = ['19-07-08', '달리기',0.5]
practice

          날짜     운동   시간
0   19-07-03    달리기  1.0
1   19-07-04     걷기  1.0
2   19-07-04    달리기  1.0
3   19-07-04  계단오르기  1.0
4   19-07-05     걷기  1.5
5   19-07-05    달리기  1.0
6   19-07-06     걷기  1.0
7   19-07-07    달리기  1.0
8   19-07-07  계단오르기  1.0
9   19-07-08     걷기  2.5
10  19-07-08    달리기  0.5

#### 달리기를 몇 회 했습니까?
#### 달리기/걷기/계단오르기를 각각 얼마씩 했습니까?
#### 날짜별/운동별 데이터를 한눈에 보기 좋게 표로 표시해보십시오.

In [17]:
practice.pivot('날짜','운동','시간')

운동         걷기  계단오르기  달리기
날짜
19-07-03  NaN    NaN  1.0
19-07-04  1.0    1.0  1.0
19-07-05  1.5    NaN  1.0
19-07-06  1.0    NaN  NaN
19-07-07  NaN    1.0  1.0
19-07-08  2.5    NaN  0.5

In [18]:
prac_pivot = practice.pivot('날짜','운동','시간')
prac_pivot.fillna(0, inplace=True)
prac_pivot

운동         걷기  계단오르기  달리기
날짜
19-07-03  0.0    0.0  1.0
19-07-04  1.0    1.0  1.0
19-07-05  1.5    0.0  1.0
19-07-06  1.0    0.0  0.0
19-07-07  0.0    1.0  1.0
19-07-08  2.5    0.0  0.5

In [19]:
practice.pivot_table(index='운동')

        시간
운동
걷기     1.5
계단오르기  1.0
달리기    0.9

In [20]:
practice.pivot_table(index='운동', aggfunc=np.sum)

        시간
운동
걷기     6.0
계단오르기  2.0
달리기    4.5

In [21]:
practice.pivot_table(index='운동', aggfunc=[np.sum,len])

       sum len
        시간  날짜   시간
운동
걷기     6.0   4  4.0
계단오르기  2.0   2  2.0
달리기    4.5   5  5.0

## pivot_table()
- 데이터 열 중에서 두 개의 열을 각각 행 인덱스, 열 인덱스로 사용하여 데이터를 조회하여 펼쳐놓은 것

## pivot()
- 첫번째 인수 : 행 인덱스로 사용할 열 이름
- 두번쨰 인수 : 열 인덱스로 사용할 행 이름
- 마지막 인수 : 데이타로 사용할 열 이름