## 네이버 API 간단히 사용해보기

- 네이버 개발자 사이트(https://developers.naver.com/)
- Open API 신청 - Client ID, Client Secret
- 검색 API 분석 - https://developers.naver.com/docs/search/blog/
- urlencode(), urldecode() => 요청URL 통쨰로 인코딩
- quote(), unquote() => 값 자체만 인코딩 또는 디코딩 하는 경우

In [2]:
import urllib.request

In [3]:
encText = urllib.parse.quote("기생충")
url = "https://openapi.naver.com/v1/search/movie.json?query=" + encText
url

'https://openapi.naver.com/v1/search/movie.json?query=%EA%B8%B0%EC%83%9D%EC%B6%A9'

In [4]:
client_id = "qayyeoRbQAP1wH8C150A"
client_secret = "wRKWlkYmah"

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id", client_id)
request.add_header("X-Naver-Client-Secret", client_secret)

In [5]:
response = urllib.request.urlopen(request)
print(response.getcode())

200

In [37]:
type(response)

http.client.HTTPResponse

In [6]:
print(response.read().decode('utf-8'))

{
"lastBuildDate": "Thu, 01 Aug 2019 04:44:08 +0900",
"total": 3,
"start": 1,
"display": 3,
"items": [
{
"title": "<b>기생충</b>",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=161967",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/1619/161967_P80_151640.jpg",
"subtitle": "PARASITE",
"pubDate": "2019",
"director": "봉준호|",
"actor": "송강호|이선균|조여정|최우식|박소담|이정은|장혜진|",
"userRating": "8.50"

},
{
"title": "파라노말 <b>기생충</b>",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=181006",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/1810/181006_P01_155150.jpg",
"subtitle": "The Unbelievable Ability",
"pubDate": "2018",
"director": "나츠메 타이치로|",
"actor": "오다지마 나기사|",
"userRating": "10.00"

},
{
"title": "<b>기생충</b>",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=59747",
"image": "",
"subtitle": "A Parasite",
"pubDate": "2002",
"director": "박민재|",
"actor": "신동훈|함승희|이경수|",
"userRating": "0.00"

}
]
}

## 네이버 검색에서 영화 정보 가져오기

In [7]:
def create_url(api_node, search_text, start_num, disp_num):
    base = "https://openapi.naver.com/v1/search"
    node = "/" + api_node + ".json"
    param_query = "?query=" + urllib.parse.quote(search_text)
    param_start = "&start=" + str(start_num)
    param_disp = "&display=" + str(disp_num)

    return base + node + param_query + param_start + param_disp

In [8]:
create_url("movie", "토이스토리", 1, 10)

'https://openapi.naver.com/v1/search/movie.json?query=%ED%86%A0%EC%9D%B4%EC%8A%A4%ED%86%A0%EB%A6%AC&start=1&display=10'

In [14]:
import json

client_id = "qayyeoRbQAP1wH8C150A"
client_secret = "wRKWlkYmah"
    
url = create_url("movie", "토이스토리", 1, 3)
    
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id", client_id)
request.add_header("X-Naver-Client-Secret", client_secret)
    
response = urllib.request.urlopen(request)

result = json.loads(response.read().decode('utf-8'))
result

{'lastBuildDate': 'Thu, 01 Aug 2019 04:47:54 +0900',
 'total': 14,
 'start': 1,
 'display': 3,
 'items': [{'title': '<b>토이 스토리</b> 4',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=101966',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1019/101966_P09_114632.jpg',
   'subtitle': 'Toy Story 4',
   'pubDate': '2019',
   'director': '조시 쿨리|',
   'actor': '톰 행크스|애니 파츠|토니 헤일|팀 알렌|',
   'userRating': '9.09'},
  {'title': '댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=161036',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1610/161036_P01_153228.jpg',
   'subtitle': 'Dancing Through Life: The Dorothy Toy Story',
   'pubDate': '2016',
   'director': '릭 콴|',
   'actor': '',
   'userRating': '0.00'},
  {'title': '<b>토이 스토리</b> 공룡 전사들의 도시',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=130784',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1307/130784_P00_112236.jpg',
   'subtitle': 'Toy Story That Time Forgot',
   'pubDate': '2014',
   'director': '스티브 퍼셀|',
   'actor': '톰 행크스|크리스틴 스칼|팀 알렌|티모시 달튼|조안 쿠삭|',
   'userRating': '8.43'}]}

In [15]:
result['display']

3

In [16]:
result['items']

[{'title': '<b>토이 스토리</b> 4',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=101966',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1019/101966_P09_114632.jpg',
  'subtitle': 'Toy Story 4',
  'pubDate': '2019',
  'director': '조시 쿨리|',
  'actor': '톰 행크스|애니 파츠|토니 헤일|팀 알렌|',
  'userRating': '9.09'},
 {'title': '댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=161036',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1610/161036_P01_153228.jpg',
  'subtitle': 'Dancing Through Life: The Dorothy Toy Story',
  'pubDate': '2016',
  'director': '릭 콴|',
  'actor': '',
  'userRating': '0.00'},
 {'title': '<b>토이 스토리</b> 공룡 전사들의 도시',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=130784',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1307/130784_P00_112236.jpg',
  'subtitle': 'Toy Story That Time Forgot',
  'pubDate': '2014',
  'director': '스티브 퍼셀|',
  'actor': '톰 행크스|크리스틴 스칼|팀 알렌|티모시 달튼|조안 쿠삭|',
  'userRating': '8.43'}]

In [17]:
len(result['items'])

3

In [18]:
titles = [result['items'][n]['title'] for n in range(3)]
titles

['<b>토이 스토리</b> 4',
 '댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>',
 '<b>토이 스토리</b> 공룡 전사들의 도시']

In [19]:
director = [result['items'][n]['director'] for n in range(3)]
director

['조시 쿨리|', '릭 콴|', '스티브 퍼셀|']

In [20]:
pubdates = [result['items'][n]['pubDate'] for n in range(3)]
pubdates

['2019', '2016', '2014']

In [21]:
import pandas as pd

pd.DataFrame({'영화제목':titles, '감독':director, '출시일':pubdates})

                             영화제목       감독   출시일
0                 <b>토이 스토리</b> 4   조시 쿨리|  2019
1  댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>     릭 콴|  2016
2        <b>토이 스토리</b> 공룡 전사들의 도시  스티브 퍼셀|  2014

In [22]:
def get_dataframe(url):
    client_id = "qayyeoRbQAP1wH8C150A"
    client_secret = "wRKWlkYmah"
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id", client_id)
    request.add_header("X-Naver-Client-Secret", client_secret)
    
    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']
    
    titles = [result['items'][n]['title'] for n in range(end_num)]
    authors = [result['items'][n]['director'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubDate'] for n in range(end_num)]
    
    return pd.DataFrame({'영화제목':titles, '감독':director, '출시일':pubdates})

In [23]:
get_dataframe(url)

                             영화제목       감독   출시일
0                 <b>토이 스토리</b> 4   조시 쿨리|  2019
1  댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>     릭 콴|  2016
2        <b>토이 스토리</b> 공룡 전사들의 도시  스티브 퍼셀|  2014

In [24]:
def delete_tag(input_str):
    input_str = input_str.replace("<b>", "")
    input_str = input_str.replace("</b>", "")
    return input_str

In [26]:
def get_dataframe(url):
    client_id = "qayyeoRbQAP1wH8C150A"
    client_secret = "wRKWlkYmah"
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id", client_id)
    request.add_header("X-Naver-Client-Secret", client_secret)
    
    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']
    
    titles = [delete_tag(result['items'][n]['title']) for n in range(end_num)]
    director = [result['items'][n]['director'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubDate'] for n in range(end_num)]
    
    return pd.DataFrame({'영화제목':titles, '감독':director, '출시일':pubdates})

In [27]:
get_dataframe(url)

                      영화제목       감독   출시일
0                 토이 스토리 4   조시 쿨리|  2019
1  댄싱 스루 라이프: 더 도로시 토이 스토리     릭 콴|  2016
2        토이 스토리 공룡 전사들의 도시  스티브 퍼셀|  2014

In [28]:
[n for n in range(1,300,100)]

[1, 101, 201]

In [29]:
result_search = []

for n in range(1,300,100):
    url = create_url("movie", "다이", n, 100)
    result_search.append(get_dataframe(url))
    
result_search = pd.concat(result_search)

In [33]:
result_search.shape

(298, 3)

In [30]:
result_search.head()

             영화제목                감독   출시일
0         데드 돈 다이            짐 자무쉬|  2019
1  와이 돈 유 저스트 다이!          키릴 소콜로프|  2019
2       러브 다이 네이버  알렉산더 토마|아만다 아가드|  2019
3       플레이 오어 다이           자크 클루거|  2018
4      파티 하드 다이 영          도미닉 하르텔|  2018

In [31]:
result_search.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 98
Data columns (total 3 columns):
영화제목    298 non-null object
감독      298 non-null object
출시일     298 non-null object
dtypes: object(3)
memory usage: 9.3+ KB

In [69]:
result_search = result_search.reset_index(drop=True)
result_search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 3 columns):
영화제목    298 non-null object
감독      298 non-null object
출시일     298 non-null object
dtypes: object(3)
memory usage: 7.1+ KB

## 엑셀에 저장하기

- DataFrame을 엑셀파일로 저장하기

In [34]:
writer = pd.ExcelWriter("../data/Python_movie_info.xlsx", engine='xlsxwriter')
result_search.to_excel(writer, sheet_name='Sheet1')

workbook  = writer.book
worksheet = writer.sheets['Sheet1']

format_center = workbook.add_format({'text_wrap': True})
format_center.set_align('center')
format_center.set_align('vcenter')

worksheet.set_column('A:A', 5)
worksheet.set_column('B:B', 90, format_center)
worksheet.set_column('C:C', 40, format_center)
worksheet.set_column('D:D', 15)

writer.save()